<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chchchChia.SimpleGPS"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.chchchChia.SimpleGPS.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.chchchChia.SimpleGPS.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/big_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <service android:name="com.chchchChia.SimpleGPS.GPSservice" />
        <activity
            android:name="com.chchchChia.SimpleGPS.MainOSD"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chchchChia.SimpleGPS.OnScreenMap" 
            android:screenOrientation="portrait"

            />
        <activity android:name="com.chchchChia.SimpleGPS.PreferencesActivity"
             android:screenOrientation="portrait"
             />
         <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            	android:value="AIzaSyAyIxOXLYe7HgX54ycsTDADnfoN8AqulW8"/>
         <meta-data android:name="com.google.android.gms.version" 
             android:value="@integer/google_play_services_version"/>
    </application>

</manifest>
